
##############################################
#
# List of approvers for this repository
#
##############################################
#
# Learn about membership in java-operator-plugins:
#   https://github.com/operator-framework/java-operator-plugins/blob/main/CONTRIBUTING.md
#

* @operator-framework/java-operator-plugins
