name: lint
on:
  pull_request: {}

jobs:
  lint:
    name: lint
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: make lint
