name: test-unit
on:
  pull_request: {}

jobs:
  unit:
    name: unit
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: make test
      - uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: coverage.out
